.contact-section{
    background-color:#999999;
    text-align:center;

}

.contact-eyebrow{
    color:#BE0F34;
    margin:0px auto;
    text-transform: uppercase;
    border:2px solid chartreuse;
    letter-spacing:0.2px;
}


