@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #eaecef;
  margin: 0;
  min-height: 100vh;
}

header {
  background: #0066cc;
  padding: 10px;
}

header h1,
header h2 {
  color: white;
}

main {
  display: flex;
  flex-direction: column;

  gap: 10px;
  padding: 15px;
}

form {
  display: flex;
  flex-direction: column;

  background-color: white;
  padding: 30px;
  border-radius: 8px;
}

h2,
h1,
h3 {
  margin: 0;
  color: black;
  text-align: center;
}

label {
  font-weight: bold;
  font-size: 0.9rem;
  color: black;
  margin-bottom: 6px;
  margin-top: 15px;
}

input[type="text"],
select,
textarea {
  font-family: inherit;
  padding: 10px;
  border: 1px solid #eaecef;
  border-radius: 4px;
  background-color: white;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  margin-top: 25px;
  padding: 12px;
  font-weight: bold;
  color: white;
  background-color: #0066cc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
  background-color: #004499;
}

.carousel {
  anchor-name: --carousel;
  scroll-margin-top: 20px;
  width: 100vw;
  height: 600px;
  padding-bottom: 20px;
  display: flex;
  gap: 4vw;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.slide {
  position: relative;
  flex: 0 0 100%;
  scroll-snap-align: center;
}

.slide img {
  height: 100%;
  width: 100%;

  object-fit: cover;
}

.carousel::scroll-button(*) {
  position: absolute;
  position-anchor: --carousel;
  align-self: anchor-center;

  width: 40px;
  height: 40px;
  border: none;
  background: none;
  color: white;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.carousel::scroll-button(*):hover {
  opacity: 1;
}

.carousel::scroll-button(*):disabled {
  opacity: 0.3;
  cursor: default;
}

.carousel::scroll-button(left) {
  content: "<";
  left: anchor(left);
}

.carousel::scroll-button(right) {
  content: ">";
  right: anchor(right);
}
.caption {
  position: absolute;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 8px;
  bottom: 0;
  left: 0;
  right: 0;
}

.caption a {
  text-decoration: none;
  color: white;
  background: #0066cc;
  padding: 5px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.caption a:hover {
  background-color: #004499;
}
