@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #eaecef;
  margin: 0;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
}

h2 {
  margin-top: 0;
  margin-bottom: 15px;
  color: black;
  text-align: center;
}

label {
  font-weight: bold;
  font-size: 0.9rem;
  color: black;
  margin-bottom: 6px;
  margin-top: 15px;
}

input[type="text"],
select,
textarea {
  /* font-family: inherit; */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  margin-top: 25px;
  padding: 12px;
  font-weight: bold;
  color: #fff;
  background-color: #0066cc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
  background-color: #004499;
}
