body {
  background-color: aquamarine
}
div {


  border: 10px solid grey;
  background-color: #ffffff;
  border-radius: 10px;
}
button {
  background-color: #043071;
}
 center 
 width 
 jeight 
}
h1 {
  border: 10px solid #043071;
  background-color: darkblue
  border-radius: 5px;
 
  
  cursor: pointer;
}center 
width 
height 

button:hover {
  background-color: #03255c;
}