header{
    color:snow;
}
.sub menu{
    display:flex
}
.signup{
margin-right:28px
}
.header-container{
 color:aquamarine
 background-color:;
 display:flex;
 position:center
    justify-content:center;
}
.header{
    width:900px;
    height;300px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.photo-container{
  display:flex;
    justify-content:center;
}.notes .photo-container


}
 .background-color
 diplay:flex: display:
 justify-content:
menu containeer::
justify content:

.menu{
    border:
    wifth:
    display:
    justify-content:
}
    