/*.nav-container{
    display: flex;
    justify-content:center ;
    align-items:flex-start;
    background-color: 
    boarder:5px solid ;
    height:400px;
}
.nav-logo{
    background-color: ;
    border:5px solid ;
    height:400px;
}
.nav-logo{
    background-color: ;
    border:5px solid ;
    height:150px;
     flex:2;
}
.nav-item{
    background-color: ;
    border:5 px solid ;
    height:150px;
     flex:1;
     align-self:flex-end;
}*/