body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  border-top: black solid 2px;
  border-bottom: black solid 2px;
  background: rgb(190, 122, 122);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header h1 {
  margin-bottom: 0;
}

header h2 {
  margin-top: 0;
}

nav {
  background: lightcoral;
  padding: 10px 20px;
  border-bottom: black solid 2px;
  display: flex;
  gap: 20px;
}

nav a {
  color: aliceblue;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

#contact-me {
  margin-left: auto;
}

.content {
  display: flex;
  margin: 20px;
  flex: 1;
  flex-wrap: wrap;
}

section {
  border-left: black solid 2px;
  padding: 10px;
  flex: 1 1 250px;
}

img {
  margin: 20px;
  margin-top: 0;

  height: 50vh;
  object-fit: cover;
  object-position: 50% 70%;
}

footer {
  text-align: center;
  font-weight: bold;
}
