body{
     font-family:Arial,sans-serif;
     margin:20px
     background: color #f4f4f4;
     color:#333;
     h1{
        color:#0056b3;
        text-align:center;
     }
     nav li{
        display:inline-bobk
        margin:0 15px:block}
        mav ul{
            list-style:none;
            P
        }
        nav A{
            text-decoration:none
            color: 7bff;front-weight:bold::after}navy 
        }
     nav a hover {
        color#:o05663:
     }