.Regtanglebox{
    background-color: ;
}

.Rectanglebox2{
    background-color:;
    width: 200px;
    height: 75px;
}
.squarebox{
    background-color: ;
    width: 150px;
    height: 150px;
}
.squarebox2{
    background-color: ;
    width: 150px;
    height: 150px;
}